<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    {# icons are from https://icons.getbootstrap.com/ #}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500;600;800&display=swap" rel="stylesheet">

    <title>{% block title %}The Best Mens{% endblock %}</title>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' country_code %}">TheBestMens <small class="text-muted" id="country-code">{{ country_code|upper }}</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                {% url 'index' country_code as index_url %}
                <li class="nav-item {% if request.path == index_url %}active{% endif %}">
                    <a class="nav-link"{% if request.path == index_url %} aria-current="page" {% endif %} href="{{ index_url }}">HOME</a>
                </li>

                {% url 'products' country_code=country_code as products_url %}
                <li class="nav-item dropdown {% if request.path == products_url %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false" {% if request.path == products_url %} aria-current="page" {% endif %}>PRODUCTS</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown09">
                        <li><a class="dropdown-item" href="{{ products_url }}">All</a></li>
                        {% for nav_category in nav_categories %}
                            <li><a class="dropdown-item" href="{{ products_url }}?category={{ nav_category.id }}">{{ nav_category.name }}</a></li>
                            {% endfor %}
                    </ul>
                </li>
            </ul>

            <div>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                     {% if user.is_authenticated %}
                            {% url 'profile' username=user.username country_code=country_code as view_profile_url%}
                            {% url 'edit_profile' country_code as edit_profile_url%}
                    <li class="nav-item dropdown {% if request.path == view_profile_url or request.path == edit_profile_url  or request.path == reviews_url %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-expanded="false">MY ACCOUNT</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown07">
                            <li><a class="dropdown-item {% if request.path == view_profile_url  %}active{% endif %}" href="{{ view_profile_url }}" {% if request.path == edit_profile_url %} aria-current="page" {% endif %}>VIEW PROFILE</a></li>
                            <li><a class="dropdown-item {% if request.path == edit_profile_url  %}active{% endif %}" href="{{ edit_profile_url }}" {% if request.path == edit_profile_url %} aria-current="page" {% endif %}>EDIT PROFILE</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'index' country_code %}">LOG OUT {% include 'app/svg/box-arrow-right.svg' %}</a></li>
                        </ul>
                    </li>
                    {% else %}
                    {% url 'signup' country_code as signup_url %}
                    <li class="nav-item {% if request.path == signup_url  %}active{% endif %}">
                        <a class="nav-link" {% if request.path == signup_url %} aria-current="page" {% endif %} href="{{ signup_url }}">SIGN UP {% include 'app/svg/person-plus.svg' %}</a>
                    </li>
                    {% url 'login' country_code as login_url %}
                    <li class="nav-item {% if request.path == login_url  %}active{% endif %}">
                        <a class="nav-link" {% if request.path == login_url %} aria-current="page" {% endif %} href="{{ login_url }}?next={{ request.path }}">LOG IN {% include 'app/svg/box-arrow-in-right.svg' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


<main class="flex-fill">
<div class="container">
    {% block content %}{% endblock %}
</div>
</main>

<footer class="footer mt-auto py-3 bg-light">

  <div class="container text-center text-muted">
      As an Amazon Associate I earn from qualifying purchases.<br />
      Looking for something that's not listed or have a question? Email me at <a href="mailto:nzwade@gmail.com">nzwade@gmail.com</a>
  </div>
</footer>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type = "text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>
</html>