{% extends "app/base.html" %}

{% block content %}
<h1>Brands</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Parent Company</th>
        <th scope="col">Brand</th>
        <th scope="col">PETA Cruelty free?</th>
        <th scope="col">PETA Vegan?</th>
    </tr>
    </thead>
    <tbody>
    {% for brand in brands %}
    <tr>
        <td>{{ brand.parent.name }}</td>
        <td><a href="{% url 'brand' country_code=country_code brand_slug=brand.name_slug %}">{{ brand.name }}</a></td>
        <td>
            {% include 'app/icons/animal_testing.html' %}
        </td>
        <td>
            {% include 'app/icons/vegan.html' %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{ brands.count }} brand{{ brands.count|pluralize }}.</p>

{% endblock content %}