{% if brand.peta %}
<li>PETA Cruelty free? {% include 'app/icons/animal_testing.html' %}</li>
<li>PETA Vegan? {% include 'app/icons/vegan.html' %}</li>
{% else %}
<li>PETA Cruelty free? {% include 'app/icons/animal_testing.html' %}</li>
<li>PETA Vegan? {% include 'app/icons/vegan.html' %}</li>
{% endif %}