{% extends "app/base.html" %}

{% block content %}
<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Best Products</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>
      <td><a href="{% url 'category' country_code=country_code category_slug=category.name_slug %}">
          {{ category.name }}</a></td>
        <td>
            {% include 'app/filter_buttons.html' %}
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>{{ categories.count }} categor{{ categories.count|pluralize:"y,ies" }}.</p>

{% endblock content %}