{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Edit Profile</h1>
<hr />
<div class="row row-fluid justify-content-center">
    <div class="col-sm-9">
        {% if form_message %}
        <div class="alert alert-success" role="alert">{{ form_message }}</div>
        {% endif %}
        <form action="{% url 'edit_profile' country_code %}" method="post">
            {% crispy user_form %}
            {% crispy profile_form %}
            {# if user has come from another page and we have next in our context then redirect the user back there #}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% else %}
            <input type="hidden" name="next" value="{% url 'index' country_code %}">
            {% endif %}
            <button type="submit" class="btn btn-success">Save</button>
            <!--      <button type="button" class="btn btn-secondary">Forgotten password?</button>-->
        </form>
    </div>
</div>
{% endblock content %}