<div class="btn-group" role="group" aria-label="Basic example">
 {% if category.filter_type %}
  <button type="button" class="btn btn-sm btn-outline-primary disabled" aria-disabled="true">{{ category.get_filter_type_display }}</button>
 {% endif %}

 {% url 'top' country_code=country_code category_slug=category.name_slug category_filter='all' as all_url %}
 <a href="{{ all_url }}" role="button" class="btn btn-sm btn-outline-primary {% if request.path == all_url %}active{% endif %}">All</a>

 {% if category.filter_type == 'skin' %}
  {% for skin_type_code, skin_type_name in skin_type_choices.items %}
   {% url 'top' country_code=country_code category_slug=category.name_slug category_filter=skin_type_code as category_url %}
   <a href="{{ category_url }}" role="button" class="btn btn-sm btn-outline-primary {% if request.path == category_url %}active{% endif %}">{{ skin_type_name }}</a>
  {% endfor %}
 {% endif %}
</div>