{% extends "app/base.html" %}

{% block content %}
<h1>Homepage</h1>
<hr />
<div class="row">
    <div class="col-md-12">
    <p>We face an ever increasing number of options and less time in which to compare the costs and benefits of each. Nobody wants to make a bad decision, or buy a product only to regret it shortly after.</p>
    <p>TheBestMens.com exists to reduce your decision fatigue.</p>
    <p>With TheBestMens.com you can:</p>
    <ul>
    <li>Check if a product is made by a vegan or cruelty free brand.</li>
    <li>Create a public profile to share the things you love with others.</li>
    <li>See what products are popular with people similar to you.</li>
    <li>Compare prices across products and retailers (coming soon).</li>
</ul></div>
</div>
{% endblock content %}