{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Log In</h1>
<div class="row row-fluid justify-content-center">
  <div class="col-sm-7">
    <form action="{% url 'login' country_code=country_code %}" method="post">
      {% crispy form %}
      {# if user has come from another page and we have next in our context then redirect the user back there #}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
      {% else %}
      <input type="hidden" name="next" value="{% url 'index' country_code=country_code %}">
      {% endif %}
      <button type="submit" class="btn btn-success">Log In</button>
<!--      <button type="button" class="btn btn-secondary">Forgotten password?</button>-->
    </form>
  </div>
</div>
{% endblock content %}