{% load static %}
{% load crispy_forms_tags %}

<div class="col-md-3">
    <img src="{{ product.std_image.small.url }}" alt="{{ product.name }}" class="d-block mx-auto img-fluid">
    <h5>{% if product.brand %}{% if forloop.counter %}{{ forloop.counter }}. {% endif %}<a href="{% url 'products' country_code=country_code %}?brand={{ product.brand.id }}">{{ product.brand.name }}</a> <small class="text-muted">{{ product.brand.parent.name }}</small>{% endif %}</h5>
    <h6>{% if forloop.counter %}<a href="{% url 'product' country_code=country_code product_slug=product.name_slug %}">{{ product.name }}</a>{% else %}{{ product.name }}{% endif %}</h6>
<!--    <p><small class="text-muted">{{ product.volume_ml }}ml | {{ product.retailerproduct__retailer__currency__symbol }}{{ product.retailerproduct__price__price_per_100_ml__min|floatformat:2 }} per 100ml</small></p>-->
    <ul class="list-unstyled"><li>Made in: {% include 'app/icons/made_in.html' %}</li>
    {% if product.brand %}
        {% include 'app/brand_peta.html' with brand=product.brand %}
    {% endif %}
    </ul>
    <p>{% if product.review__rating__avg %}
            {% include 'app/stars.html' with star_value=product.review__rating__avg star_list=star_list only %} {{ product.review__rating__avg }} <small class="text-muted">({{ product.review__count }} review{{ product.review__count|pluralize }})</small>
        {% else %}
        No reviews
        {% endif %}
    </p>

    {% if user.is_authenticated %}
        {% if user_activity_form_message %}
            <div class="alert alert-success" role="alert">{{ user_activity_form_message }}</div>
        {% endif %}
        <form action="{% url 'product' country_code=country_code product_slug=product.name_slug %}" method="post">
        {% csrf_token %}
        {% crispy user_activity_form %}
        </form>
    {% endif %}

    {% for retailer_product in product.retailerproduct_set.all %}
    <ul class="list-inline">
        <li class="list-inline-item">{{ retailer_product.retailer.name }}</li>
<!--        <li class="list-inline-item" data-toggle="tooltip" title="Last updated {{ retailer_product.price.last_updated|timesince }} ago">{{ retailer_product.retailer.currency.symbol }}{{ retailer_product.price.price|floatformat:2 }}</li>-->
        <li class="list-inline-item"><a href="{{ retailer_product.url }}" target="_blank" rel="nofollow"><button type="button" class="btn btn-primary btn-sm">Visit retailer {% include 'app/svg/cart.svg' %}</button></a></li>
    </ul>
    {% endfor %}
</div>
