{% load crispy_forms_tags %}
{% load templatehelpers %}

<div class="row row-fluid justify-content-center">
{% crispy filter.form %}
</div>

<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Parent Company</th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
<!--      <th scope="col">Volume (ml)</th>-->
      <th scope="col">Average Rating</th>
      <th scope="col">Reviews</th>
<!--      <th scope="col">Lowest Price</th>-->
<!--      <th scope="col">Price per 100ml</th>-->
      <th scope="col">Made in</th>
      <th scope="col">PETA Cruelty free?</th>
      <th scope="col">PETA Vegan?</th>
    </tr>
  </thead>
  <tbody>
    {% url 'products' country_code=country_code as products_url %}
    {% for product in products %}
    <tr>
        <td><a href="{{ products_url }}?category={{ product.category.id }}">{{ product.category.name }}</a></td>
        <td>
            {% if product.brand.parent %}
                {{ product.brand.parent.name }}
            {% endif %}
        </td>
        <td>
            {% if product.brand %}
                <a href="{{ products_url }}?brand={{ product.brand.id }}">{{ product.brand.name }}</a>
            {% endif %}
        </td>
        <td><a href="{% url 'product' country_code=country_code product_slug=product.name_slug %}">{{ product.name }}</a></td>
<!--        <td>{{ product.volume_ml }}</td>-->
      <td>
          {% if product.review__rating__avg %}
            {% include 'app/stars.html' with star_value=product.review__rating__avg star_list=star_list only %} {{ product.review__rating__avg }}
          {% endif %}
      </td>
        <td>
            {% if product.review__count %}
                {{ product.review__count }}
            {% else %}
                0
            {% endif %}
        </td>
<!--        <td>-->
<!--            Commenting this out for now due to no Amazon link-level disclosure-->
<!--            <a href="{{ product.retailerproduct__price__link }}" target="_blank" rel="nofollow" data-toggle="tooltip" title="Last updated {{ product.retailerproduct__price__last_updated|timesince }} ago">-->
<!--                {{ product.retailerproduct__retailer__currency__symbol }}{{ product.retailerproduct__price__price__min|floatformat:2 }} <small class="text-muted">{{ product.retailerproduct__retailer__name }}</small>-->
<!--            </a>-->
<!--        </td>-->
<!--      <td>{{ product.retailerproduct__retailer__currency__symbol }}{{ product.retailerproduct__price__price_per_100_ml__min|floatformat:2 }}</td>-->
      <td>{% include 'app/icons/made_in.html' %}</td>
      <td>{% include 'app/icons/animal_testing.html' with brand=product.brand %}</td>
      <td>{% include 'app/icons/vegan.html' with brand=product.brand %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if products.has_other_pages %}
<ul class="pagination justify-content-center">

    <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
        <a class="page-link" href="?page=1" tabindex="-1">First</a>
    </li>
    <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
        <a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %} " tabindex="-1">Previous</a>
    </li>

    {% if products.number|add:'-4' > 1 %}
        <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in products.paginator.page_range %}
        {% if products.number == i %}
            <li class="active page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% elif i > products.number|add:'-4' and i < products.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if products.paginator.num_pages > products.number|add:'3' %}
        <li class="page-item disabled"><a class="page-link" href="?page={{ products.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    <li class="page-item {% if not products.has_next %} disabled {% endif %}">
        <a class="page-link" href="{% if products.has_next %} ?page={{ products.next_page_number }} {% endif %}">Next</a>
    </li>
    <li class="page-item {% if not products.has_next %} disabled {% endif %}">
        <a class="page-link" href="{% if products.has_next %} ?page={{ products.paginator.num_pages }}  {% endif %}">Last</a>
    </li>
</ul>
{% endif %}

<p>{{ products.paginator.count }} product{{ products.paginator.count|pluralize }}.</p>