{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %} <!-- for ordinal tag !-->

{% block content %}
<h1>{% if product.brand %}<small class="text-muted">{{ product.brand.name }}</small> {% endif %}{{ product.name }}</h1>

<div class="row row-fluid">

</div>

<div class="row row-fluid">
    {% include 'app/product_summary.html' %}
    <div class="col-md-9">
        <h5>{{ users_using_rank|ordinal }} most used product out of {{ category_product_count }} products in category <a href="{% url 'products' country_code=country_code %}?category={{ product.category.id }}">{{ product.category.name|lower }}</a>.</h5>
        <h7><small class="text-muted">{{ users_using_percent }}% of members who use {{ product.category|lower }} are using this.</small></h7>
<!--        <h5>Average review rank:</h5>-->
    <hr>
        <h1>Reviews</h1>
        {% for review in product.review_set.all %}
        <blockquote class="blockquote"><p class="mb-0">{% include 'app/stars.html' with star_value=review.rating star_list=star_list only %} {{ review.review }}</p></blockquote>
        <footer class="blockquote-footer"><a href="{% url 'profile' country_code=country_code username=review.user.username %}">{{ review.user.username }}</a> | {{ review.user.profile.country }} | {{ review.last_updated|date:"M Y" }}</p></footer>
        {% endfor %}
        <hr/>
        {% if user.is_authenticated %}
            <h3>Add review</h3>
            {% if review_form_message %}
                <div class="alert alert-success" role="alert">{{ review_form_message }}</div>
            {% endif %}
            <form action="{% url 'product' country_code=country_code product_slug=product.name_slug %}" method="post">
                {% csrf_token %}
                {% crispy skin_type_form %}
                {% crispy review_form %}
                <button type="submit" class="btn btn-success" name="review_submit">Submit</button>
            </form>
        {% else %}
            <h3>Login to add your review</h3>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% crispy authentication_form %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-success">Login</button>
    <!--            <button type="button" class="btn btn-secondary">Forgotten password?</button>-->
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}