{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ username }}</h1>
<hr />
<h2>Products I'm using</h2>
<div class="row row-fluid">
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% url 'products' country_code=country_code as products_url %}
    {% for product in products_currently_using %}
    <tr>
        <td><a href="{{ products_url }}?category={{ product.category.id }}">{{ product.category.name }}</a></td>
        <td>{% if product.brand %}
                <a href="{{ products_url }}?brand={{ product.brand.id }}">{{ product.brand.name }}</a>
            {% endif %}
        </td>
        <td><a href="{% url 'product' country_code=country_code product_slug=product.name_slug %}">{{ product.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<p>{{ products_currently_using.count }} product{{ products_currently_using.count|pluralize }}.</p>

<h2>Reviews</h2>
<div class="row row-fluid">
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
        <td><a href="{{ products_url }}?category={{ review.product.category.id }}">{{ review.product.category.name }}</a></td>
        <td><a href="{{ products_url }}?brand={{ review.product.brand.id }}">{{ review.product.brand.name }}</a></td>
        <td><a href="{% url 'product' country_code=country_code product_slug=review.product.name_slug %}">{{ review.product.name }}</a></td>
        <td>{% include 'app/stars.html' with star_value=review.rating star_list=star_list only %}</td>
      <td>{{ review.last_updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<p>{{ reviews.count }} review{{ reviews.count|pluralize }}.</p>
{% endblock content %}