{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Sign Up</h1>
<div class="row row-fluid justify-content-center">
  <div class="col-sm-7">
    <form action="{% url 'signup' country_code %}" method="post">
      {% crispy user_form %}
      {% crispy profile_form %}
      <button type="submit" class="btn btn-success">Sign Up</button>
      <!--      <button type="button" class="btn btn-secondary">Forgotten password?</button>-->
    </form>
  </div>
</div>
{% endblock content %}