{% extends "app/base.html" %}

{% block content %}
<h1>Best {{ category.name|lower }} for {{ gender|lower }}{% if category_filter != 'all' and category.filter_type == 'skin' %} with {{ category_filter|lower }} skin{% endif %}.</h1>
<hr />

{% if category.filter_type %}
    <div class="row row-fluid">
        <div class="col-12 text-center">{% include 'app/filter_buttons.html' %}</div>
    </div>
    <hr />
{% endif %}

<h2>More than {{ currency_symbol }}20</h2>
<div class="row row-fluid">
    {% include "app/top_five_products.html" with products=best_over_20 %}
</div>
<hr />
<h2>Between {{ currency_symbol }}10 and {{ currency_symbol }}20</h2>
<div class="row row-fluid">
    {% include "app/top_five_products.html" with products=best_between_10_and_20 %}
</div>
<hr />
<h2>Between {{ currency_symbol }}5 and {{ currency_symbol }}10</h2>
<div class="row row-fluid">
    {% include "app/top_five_products.html" with products=best_between_5_and_10 %}
</div>
<hr />
<h2>Less than {{ currency_symbol }}5</h2>
<div class="row row-fluid">
    {% include "app/top_five_products.html" with products=best_5_and_under %}
</div>
{% endblock content %}