{% if products %}
{% for product in products %}
{% include 'app/product_summary.html'%}
{% endfor %}

{% else %}
<div class="col-md-12">
    Not enough product reviews in this price range. Why not find your product <a href="{% url 'category' category_slug=category.name_slug country_code=country_code %}">here</a> and add one?
</div>
{% endif %}