body {
  font-family: 'Open Sans', sans-serif;
}

/* for sticky footer */
body, .sticky-footer-wrapper {
   min-height:100vh;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#country-code{
    font-family: 'Open Sans', serif;
    font-size: 1rem;
    }

h1, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    }
h2 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    }

.brand {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    }

@media (min-width: 768px) {
  .row-fluid {
    display: flex;
    align-items: flex-end;
  }
}